.back-to-projects {
    display: inline-block;
    margin-top: 2em;
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.back-to-projects:hover {
    background-color: #555;
}
body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    background-color: #60b453;
}
